<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #000;
            color: #eee;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .login-form {
            background-color: #222;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 400px;
            text-align: center;
            color: #eee;
        }

        .login-form h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #ffc107;
        }

        .login-form label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .login-form input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #444;
            border-radius: 5px;
            background-color: #333;
            color: #eee;
        }

        .login-form button {
            width: 100%;
            padding: 10px;
            background-color: #111;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .login-form button:hover {
            background-color: #ffc107;
            color: #111;
            transform: scale(1.05);
        }

        .signup-link {
            display: block;
            margin-top: 20px;
            color: #ffc107;
            text-decoration: none;
        }

        .signup-link:hover {
            text-decoration: underline;
            color: #eee;
        }
    </style>
</head>

<body>
    <div class="login-form">
        <h2>Login</h2>
        <form action="/admin/adminlogin" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <button type="submit">Login</button>
        </form>
        <a href="/admin/admin-signup" class="signup-link">If you are new to this, sign up first</a>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
